            .soal2{
                height: 300px;
                position: relative;
                width: 500px;
                margin: 0 auto;
            }
            .soal2 img{
                width: 200px;
                position: absolute;
                top: 50px;
            }
            .red1{
                left: 0px;
                z-index:1;
            }
            .halfred1{
                left: 0px;
                z-index: 4;
            }
            .purple{
                left: 130px;
                z-index: 3;
            }
            .halfred2{
                left: 250px;
                z-index: 5;
            }
            .red2{
                left: 250px;
                z-index: 2;
            }